{% extends "base.html"%}
{% block content %}
<div id = "fundo">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
          <div class="panel-heading" style="text-align:center">
            <h1>Descrição da Ocorrência</h1>
        </div>

          <ul class="nav nav-tabs">
            <li class="active"><a href="#info" data-toggle="tab" aria-expanded="true">Informações Gerais</a></li>
            <li class=""><a href="#vitima" data-toggle="tab" aria-expanded="false">Relato da vitima</a></li>
            <li class=""><a href="#vigilante" data-toggle="tab" aria-expanded="false">Relato do vigilante</a></li>
            <li class=""><a href="#foto" data-toggle="tab" aria-expanded="false">Foto</a></li>
          </ul>

          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="info">
            <p style=" margin: 2% 2%"><b>Data:</b> {{object.data|default_if_none:"Não foi informado"}} </p>
            <p style=" margin: 2% 2%"><b>Hora:</b> {{object.hora|default_if_none:"Não foi informado"}} </p>
            <p style=" margin: 2% 2%"><b>A ocorrência foi validada?</b>
            {% if object.validade == True %} 
                Sim
              {% else %} 
                Não
              {% endif %}</p>
            <p style=" margin: 2% 2%"><b>É uma emergência?</b>
            {% if object.emergencia == True %} 
                Sim
              {% else %} 
                Não
              {% endif %}</p>
            <p style=" margin: 2% 2%"><b>Possui vítima?</b>
              {% if object.vitimado == True %} 
                Sim
              {% else %} 
                Não
              {% endif %}</p>
            <p style=" margin: 2% 2%"><b>Categoria:</b> {{object.tb_categoria_ID|default_if_none:"Não foi informado"}}</p>
            <p style=" margin: 2% 2%"><b>Local:</b> {{object.localidade.descricao|default_if_none:"Não foi informado"}}</p>
          </div>

          <div class="tab-pane fade" id="vitima">
            <p style=" margin: 2% 2%">{{object.descricao|default_if_none:"Não foi relatado nada"}} </p>
          </div>

          <div class="tab-pane fade" id="vigilante">
            <p style=" margin: 2% 2%">{{object.resposta|default_if_none:"Não foi relatado nada"}}</p>
          </div>

          <div class="tab-pane fade" id="foto" style="margin: 2% 2%">
            {% if object.foto %}
              <div class="imagem"  >
                <img src="{{object.foto.url}}" height="400px" width="500px">
              </div>
            {% else %}
              <p>Nao ha imagem para mostrar</p>
            {% endif%}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
