{% extends "base.html"%}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

<style type="text/css">
  #map {
  	width: 80% !important;
  	height:350px !important;
  	margin-left:10% !important;
  	margin-top:0% !important;
  	overflow: visible !important;
    border : 3px solid rgba(211,211,211,0.4);
  }
</style>


<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mask.min.js"></script>
<script src="{% static 'js/mapa.js' %}"></script>


<script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=geometry">
</script>

<div id = "fundo">
    <div class="container">
    <div class="row vertical-offset-100 ">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 style="font-style:none;">Criar Ocorrência</h6>
          </div>
        </br>
        {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade in" style="text-align: center" role="alert">
          {{ message|safe }}
        </div>
        {% endfor %}

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <h2>Insira o local da ocorrência clicando no mapa abaixo:</h2></br>

            <div id="map"></div>
                  <font color="red">

            <div id="mensagem"></div></font>
            <h2><div id="exibe_localidade"></div></h2>
            <input type="hidden" id="latitude" name="latitude" />
            <input type="hidden" id="longitude" name="longitude" />
            <input type="hidden" id="localidade" name="localidade" />

            <div class="form-group">
                <h2>{{ form.tb_categoria_ID|as_crispy_field }}</h2>
            </div>

            <div class="form-group">
                <h2>{{ form.data|as_crispy_field }}</h2>
            </div>

            <div class="form-group">
                <h2>{{ form.hora|as_crispy_field }}</h2>
            </div>

            <div class="form-group">
              <h2>{{ form.emergencia|as_crispy_field }}</h2>
            </div>

            <div class="form-group">
              <h2>{{ form.vitimado|as_crispy_field }}</h2>
            </div>

              {{ form.atendida }}
              {{ form.vigilante_ID }}
              {{ form.usuario_ID }}
              {{ form.validade }}
              {{ form.repetida }}
              {{ form.atendida }}

            <div class="form-group">
              <label for="foto" style="margin-left:10%">Foto:
              </label>
              <h2>{{ form.foto}}</h2>
            </div>

            <div class="form-group">
              <h5>{{form.descricao|as_crispy_field}}</h5>
            </div>

        <input class="botao btn1-sucesso " type="submit" value="Criar ocorrência" style="margin-left:40%">
        </form>
        </div>
      </div>
      </div>
    </div>
  </div>
  {% endblock %}