{% extends "base.html"%}
{% block content %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<script src="{% static 'js/eventosOcorrencia.js' %}"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mask.min.js"></script>	

<div id = "fundo">
	<div class="container">
    <div class="row vertical-offset-100">
    	<nav class="navbar navbar-default" style="height:300px">
		  <div class="container-fluid" >

		    <div class="navbar-header">
		      <h1 class="navbar-brand">Filtragem:</h1>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <form class="navbar-form navbar-left" role="search">
		        	
	      		<div class="form-group" style="margin: -7% 8% 10%">
            	{{ filter.form.id|as_crispy_field }}
            </div>

		        	<div class="form-group" style="margin: -7% -3% 10%">
              			{{ filter.form.tb_categoria_ID|as_crispy_field }}
            		</div>

            		<div class="form-group" style="margin: -7% 8% 10%">
		            	{{ filter.form.vitimado|as_crispy_field }}
		            </div>

		            <div class="form-group" style="margin: -7% -3% 10%">
		            	{{ filter.form.emergencia|as_crispy_field }}
		            </div>


		        	<div class="form-group" style="margin: -7% 8% 10%">
		        		{{filter.form.data|as_crispy_field}}
		        	</div>

		        	<div class="form-group" style="margin-left:-5%;margin-top:-11%">
		            	{{ filter.form.descricao|as_crispy_field }}
		            </div>

		            <div class="form-group" style="margin-left:3%;margin-top:-11%">
		            	{{ filter.form.resposta|as_crispy_field }}
		            </div>

		        	<div class="form-group" style="margin: -7% 8% 10%">
		        		{{filter.form.hora|as_crispy_field}}
		        	</div>

		            <div class="form-group" style="margin: -7% -5% 10%">
		            	{{ filter.form.o|as_crispy_field }}
		            </div>
					<button type="submit" class="btn btn-primary btn-lg" style="margin-left:81%;margin-top:-14%;margin-bottom:-4%;width:16%">Filtrar</button>
		      </form>
		    </div>
		  </div>
		</nav>

        	<div class="panel panel-default">
        		<div class="panel-heading" style="background-color: #f5f5f5;
        		border-color: #caced1;"><h6> Todas as ocorrências</h6>
        		</div>
        		{% if vazio %}
	        	</br>
        		<div class="alert alert-dismissible alert-warning">
				  <strong style="margin-left:40%">Nao ha nenhuma ocorrencia!</strong>
				</div>
				{% else %}
        		<table class="table" >
					<tr>
						<th>Número</th>
						<th>Localização</th>
						<th>Data e Hora</th>
						<th>Imagem</th>
						<th>Emergência?</th>
						<th>Descrição</th>
					</tr>
				{% endif %}
	        {% if page_obj|length %}
          		{% if numero_res > 1 %}
              		<h3>Pesquisa concluída com sucesso! Foram encontradas {{numero_res}} ocorrências.</h3>
            	{% elif numero_res == 1 %}
              		<h3>Pesquisa concluída com sucesso! Foi encontrada {{numero_res}} ocorrência.</h3>
					{% endif %}
        {% for o in object_list %}
				<tr>
					<td>{{o.id}}</td>
					<td><a href="http://maps.google.com/?q={{o.latitude}},{{o.longitude}}"> Clique para ver no mapa </a></td>
					<td>{{o.data}} - {{o.hora.hour}}:{{o.hora.minute}}</td>

								{% if o.foto %}
								  <td><a href="" id="abreImagem"> Clique para abrir a imagem</a>

								  <div id="myModal" class="modal">
			 							<span class="close">×</span>
			  						<img class="modal-content" src="{{o.foto.url}}" id="imagemOcorrencia">
			  					 </div>


			</div>

								  </td>
								{% else %}
								  <td> Não possui imagem </td>
								{% endif %}
								{% if o.emergencia == 1 %}
									<td><font color="red"> Sim </font></td>
								{% else %}
									<td> Não </td>
								{% endif %}
			                	<td><a class="btn btn-primary" href="{%  url 'ver_ocorrencia' o.id %}"  role="button">Ver Descrição</a></td>
			{% endfor %}
			{% else %}
				<div class="alert alert-dismissible alert-warning">
				  <strong style="margin-left:40%">Não há nenhuma ocorrência com essas especificações!</strong>
				</div>
			{% endif %}
			    </tr>
					</table>
			   </div>
          </div>
   	        </div>
   	        {% include "pagination.html" %}
       </div>
      </div>
    </div>
  </div>
</div>
<div>
 {% endblock %}
