{% extends "base.html"%}
{% block content %}
{% load crispy_forms_tags %}

<div id = "fundo">
<div class="container">
    <div class="row vertical-offset-100">
    	<nav class="navfilter" style="margin-bottom:20px;">
		  <div class="container-fluid" >
		        {% crispy filter.form %}
		    </div>
		  </div>
		</nav>

        	<div class="panel panel-primary">
          		<div class="panel-heading" style="text-align:center">
            		<h1>Todas as Ocorrências</h1>
        		</div>
	        {% if page_obj|length %}
          		{% if numero_res > 1 %}
          			<div class="alert alert-dismissible alert-success" style="text-align:center">
  						<strong><h3>Foram encontradas {{numero_res}} ocorrências.</h3><strong>
					</div>
            	{% elif numero_res == 1 %}
            		<div class="alert alert-dismissible alert-success" style="text-align:center">
  						<strong><h3>Foi encontrada {{numero_res}} ocorrência.</h3><strong>
					</div>
					{% endif %}
			{% if vazio %}
        		<div class="alert alert-dismissible alert-warning">
				  <h3>Nao ha nenhuma ocorrencia!</h3>
				</div>

			{%else%}
				<table class="table table-hover table-sm" >
				<tr>
					<th>Número</th>
					<th>Localização</th>
					<th>Local no Mapa</th>
					<th>Data e Hora</th>
					<th>Imagem</th>
					<th>Emergência?</th>
					<th>Descrição</th>
				</tr>
			{% endif %}		
        {% for o in object_list %}
        	
				<tr>
					<td><b>{{o.id}}</b></td>
					<td>{{o.localidade.descricao}}</td>
					<td><a class="btn btn-sm btn-info" href="http://maps.google.com/?q={{o.latitude}},{{o.longitude}}"> Ver no mapa </a></td>
					{% if o.hora.minute < 10 %}
						<td>{{o.data}} - {{o.hora.hour}}:0{{o.hora.minute}}</td>
					{% else %}
						<td>{{o.data}} - {{o.hora.hour}}:{{o.hora.minute}}</td>
					{% endif %}
					{% if o.foto %}
						<td><a class="btn btn-sm btn-info" href="#" id="abreImagem"> Clique para abrir a imagem</a>
							<div id="myModal" class="modal">
								<span class="close">×</span>
								<img class="modal-content" src="{{MEDIA_URL}}{{o.foto.url}}" id="imagemOcorrencia">
							</div>
							<script>
								var modal = document.getElementById('myModal');
								var link = document.getElementById("abreImagem");
								var span = document.getElementsByClassName("close")[0];

								link.onclick = function() {
									modal.style.display = "block";
								}

								span.onclick = function() {
									modal.style.display = "none";
								}

								window.onclick = function(event) {
									if (event.target == modal) {
										modal.style.display = "none";
									}
								}
							</script>
						</td>

					{% else %}
					  <td> Não possui imagem </td>
					{% endif %}
					{% if o.emergencia == 1 %}
						<td><font color="red"> Sim </font></td>
					{% else %}
						<td> Não </td>
					{% endif %}
                	<td><a class="btn btn-primary" href="{%  url 'ver_ocorrencia' o.id %}"  role="button">Ver Descrição</a></td>
			            
			{% endfor %}
			    </tr>
					</table>
				{% else %}
				<div class="alert alert-dismissible alert-warning">
				  <h3>Não há nenhuma ocorrência com essas especificações!</h3>
				</div>
				{% endif %}
			   </div>
          </div>
          {% include "pagination.html" %}
   	        </div>
       </div>
      </div>
    </div>
  </div>
</div>
<div>
 {% endblock %}
