{% extends "base.html"%}
{% block content %}

<script type="text/javascript">

function popupMaps(url, title, w, h) {
  var left = (screen.width/2)-(w/2);
  var top = (screen.height/2)-(h/2);
  return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
}  
</script>

	<div id = "fundo">
		<div class="container">
			<div class="row vertical-offset-100">
				<div class="panel panel-primary">
          			<div class="panel-heading" style="text-align:center">
            			<h1>Ocorrências sem validação</h1>
		          	</div>

					<table class="table">
						{% if vazio %}
						<div class="alert alert-dismissible alert-warning">
							<h3>Nao há nenhuma ocorrência pendente!</h3>
						</div>
						{% else %}
							<tr>
								<th>Número</th>
								<th>Localização</th>
						    <th>Local no Mapa</th>
								<th>Data e Hora</th>
								<th>Imagem</th>
								<th>Emergência?</th>
								<th>Descrição</th>
								<th>Validar</th>
							</tr>
						{% endif %}

						{% for o in object_list %}
							<tr>
								<td>{{o.id}}</td>
								<td>{{o.localidade.descricao}}</td>
								<td><a class="btn btn-sm btn-info" href="#" 
								onclick="popupMaps('http://maps.google.com/?q={{o.latitude}},{{o.longitude}}', 'Maps',600,400);"> Ver no mapa </a></td>
								{% if o.hora.minute < 10 %}
									<td>{{o.data}} - {{o.hora.hour}}:0{{o.hora.minute}}</td>
								{% else %}
									<td>{{o.data}} - {{o.hora.hour}}:{{o.hora.minute}}</td>
								{% endif %}

								{% if o.foto %}
									<td><a class="btn btn-sm btn-info" href="#" id="abreImagem"> Clique para abrir a imagem</a>
										<div id="myModal" class="modal">
											<span class="close">×</span>
											<img class="modal-content" src="{{MEDIA_URL}}{{o.foto.url}}" id="imagemOcorrencia">
										</div>
										<script> <!-- Qual o tipo de script? Javascript?-->
											var modal = document.getElementById('myModal');
											var link = document.getElementById("abreImagem");
											var span = document.getElementsByClassName("close")[0];

											link.onclick = function() {
												modal.style.display = "block";
											}

											span.onclick = function() {
												modal.style.display = "none";
											}

											window.onclick = function(event) {
												if (event.target == modal) {
													modal.style.display = "none";
												}
											}
										</script>
									</td>
								{% else %}
									<td> Não possui imagem </td>
								{% endif %}
								{% if o.emergencia == 1 %}
									<td><font color="red"> Sim </font></td>
								{% else %}
									<td> Não </td>
								{% endif %}
								<td><a class="btn btn-primary" href="{%  url 'ver_ocorrencia' o.id %}"  role="button">Ver Descrição</a></td>
								<td><a class="btn btn-success" href="{% url 'validar_ocorrencia' o.id %}"  role="button">Validar Ocorrência</a></td>
							</tr>
						{% endfor %}
				</table>
			</div>
		</div>
		{% include "pagination.html" %}
	</div>
</div>
{% endblock %}
