{% extends "base.html"%}
{% block content %}
{% load crispy_forms_tags %}

<div id = "fundo">
  <div class="container">
    <div class="row vertical-offset-100 ">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-primary">
          <div class="panel-heading" style="text-align:center">
            <h1 class="navtitle">Validar Ocorrência</h1>
        </div>
          </br>

          {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade in" style="text-align: center" role="alert">
              <button type="button" class="close" data-dismiss="alert">
                &times;
              </button>
              <strong>{{ message|safe }}</strong>
            </div>
          {% endfor %}

          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
              <div class="col-lg-10">
                <h2>{{ form.tb_categoria_ID|as_crispy_field }}</h2>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10">
                <h2>{{ form.status|as_crispy_field }}</h2>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10">
                <h2>{{ form.emergencia|as_crispy_field }}</h2>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10">
                <h2>{{ form.vitimado|as_crispy_field }}</h2>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10">
                <h2>{{ form.atendida|as_crispy_field }}</h2>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10">
                <h2>{{ form.validade|as_crispy_field }}</h2>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10">
                <h2>{{ form.repetida|as_crispy_field }}</h2>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10">
                <h5>{{form.resposta|as_crispy_field}}</h5>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-10">
                <h5>{{ form.informacoes_segurancas|as_crispy_field }}</h5>
              </div>
            </div>

              {{ form.vigilante_ID }}
              {{ form.usuario_ID }}
              {{ form.data }}
              {{ form.hora }}
              {{ form.latitude }}
              {{ form.longitude }}
              {{ form.localidade }}
              {{ form.descricao }}
              {{ form.data_publicacao }}

            <input class="btn btn-success btn-lg" type="submit" value="Salvar" style="margin-left:40%">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
