{% extends "base.html"%}
{% block content %}   

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mask.min.js"></script>
<script type="text/javascript">
  
$(document).ready(function() {
  $("#data_nasc").mask("00/00/0000", {placeholder: "__/__/____"});
});

$(document).ready(function() {
  $("#data_nasc").datepicker({dateFormat:'dd/mm/yy'});
});

$(document).ready(function() {
  $("#cpf").mask("00000000000", {placeholder: "___-___-___-__"});
});

$(document).ready(function() {
  $("#cpf").replace(/[^\d]/g, '');
});



</script>

  <div id = "fundo">
    <div class="container">
      <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title" style="color:#4E6c24; font-family:'Calibri', serif; font-weight: bold; font-style: oblique; font-size: 200%">Cadastro</h1>
            </div>

          <div class="panel-body">
            <form action="" method="POST">
              {% csrf_token %}
              <fieldset>
                
                <div class="form-group">
                  Nome de Usuário</br>
                  {{ form.login }}
                </div>
                
                <div class="form-group">
                  Senha</br>
                  {{ form.senha }}
                </div>

                <div class="form-group">
                  Confirmar Senha</br>
                  {{ form.confirma_senha }}
                </div>

                <div class="form-group">
                  E-mail</br>
                  {{ form.email }}
                </div>

                <div class="form-group">
                  Confirma E-mail</br>
                  {{ form.confirma_email }}
                </div>

                <div class="form-group">
                  Matrícula</br>
                  {{ form.matricula }}
                </div>

                <div class="form-group">
                  Nome Completo</br>
                  {{ form.nome }}
                </div>
                
                <div class="form-group">
                  <p>Genero:</p>
                  <input type="radio" name="sexo" id="sexo" value="1"> Masculino<br>
                  <input type="radio" name="sexo" id="sexo" value="0"> Feminino<br>
                </div>
                
                <div class="form-group">
                  Data de Nascimento</br>
                  <input id="data_nasc" name="data_nasc"/>
                </div>

                <div class="form-group">
                  CPF</br>
                  <input id="cpf" name="cpf" />
                </div>
                
                <div class="form-group">
                  RG</br>
                  <input id"rg" name="rg" />
                </div>

                {{ form.grupo_usuario }}
                {{ form.status }}

                
                <input class="btn btn-lg btn-success btn-block" type="submit" value="Cadastrar">
              </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

