{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mask.min.js"></script>

  <div id = "fundo">
    <div class="container">
      <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-primary">
              <div class="panel-heading" style="text-align:center">
                <h1>Login</h1>
              </div>
              <div class="panel-boddy">
              
              </br>
            <form method="post" action="">
                {% csrf_token %}
                  <div class="form-group">
                    <center><p style="font-size:18px; margin-bottom:1px;">Usuário</p>
                    {{ form.username }}</center>
                  </div>
                  <div class="form-group">
                    <center><p style="font-size:18px; margin-bottom:1px;">Senha</p>
                    {{ form.password }}</center>
                  </div>
                  {% if form.errors %}
                    <p><font color="red">Seu nome de usuário e/ou sua senha estão incorretos.<br>Tente novamente.</font></p>
                  {% endif %}

                  {% if next %}
                    {% if user.is_authenticated %}
                      <p><font color="red">Sua conta não tem acesso a esta página.</font></p>
                    {% else %}
                      <p><font color="red">Por favor, faça o login para acessar esta página.</font></p>

                    {% endif %}
                  {% endif %}
                  
                  <input type="hidden" name="next" value="{{ next }}" />
                  <div class = "senha" style="margin-top:7%">
                    <a href="{% url 'recuperar_senha' %}" style="font-size:16px">Esqueceu a senha?</a>
                  </div>
                  
                  <input class="btn btn-lg btn-success btn-block" type="submit" value="Entrar" style="margin-top:10%;">
              </form>
            
        </div>
	</div>
  </div>
</div>
</div>

{% endblock %}
