{% extends "base.html"%}
{% block content %}
<center>
<div class="inicial">
<br><h1 style="margin-left:-10%">Login</h1></br>
  <div class="block">
              <fieldset>

            <form id="login-form" method="post" action="">
                {% csrf_token %}
                  <div class="form-group">
                    <center><p style="font-size:18px; margin-bottom:1px;">Usuário</p></center>
                    {{ form.username }}
                  </div>
                  <div class="form-group">
                    <center><p style="font-size:18px; margin-bottom:1px;">Senha</p></center>
                    {{ form.password }}
                  </div>
                  {% if form.errors %}
                    <p><font color="red">Seu nome de usuário e/ou sua senha estão incorretos.<br>Tente novamente.</font></p>
                  {% endif %}

                  {% if next %}
                    {% if user.is_authenticated %}
                      <p><font color="red">Sua conta não tem acesso a esta página.</font></p>
                    {% else %}
                      <p><font color="red">Por favor, faça o login para acessar esta página.</font></p>

                    {% endif %}
                  {% endif %}
                  
                  <input type="hidden" name="next" value="{{ next }}" />
                  <div class = "senha" style="margin-top:7%">
                    <a href="{% url 'recuperar_senha' %}" style="font-size:16px">Esqueceu a senha?</a>
                  </div>
                  
                  <input class="btn btn-lg btn-success btn-block" type="submit" value="Entrar" style="margin-top:10%;">
              </form>
            </fieldset>
        </div>
	</div>
  </div>
  </center>
{% endblock %}
