{% extends "base.html"%}
{% load bootstrap_themes %}
{% bootstrap_styles theme="spacelab" type='css' %}
{% block content %}

<html>

  <head>

    <meta charset="UTF-8">
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" href="main.css"> 

  </head>

  <body>

    <div id = "fundo">
      <div class="container">
        <div class="row vertical-offset-100">
          <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              
              <div class="panel-heading">
                <h1 class="panel-title" style="color:#1c2c48; font-family:'Arial', serif; font-weight: bold; font-style: oblique; font-size: 200%">Perfil</h1>
              </div>

              <div class="panel-body">
                {% csrf_token %}
                <fieldset>
                  <form id="editar" method="post" action="">

                    <div class="form-group">
                      <h3>Nome de Usuário:</br></h3>
                      <h4> {{ user.username }} </h4>
                    </div>

                    <div class="form-group">
                      <h3>E-mail:</br></h3>
                      <h4> {{ user.email }} </h4>
                    </div>

                    <div class="form-group">
                      <h3>Matrícula:</br></h3>
                      <h4> {{ user.matricula }} </h4>
                    </div>

                    <div class="form-group">
                      <h3>Nome Completo:</br></h3>
                      <h4> {{ user.nome }} </h4>
                    </div>

                    <div class="form-group">
                      <h3><p>Gênero:</p></h3>
                      <h4> {{ user.genero }} </h4>
                    </div>

                    <div class="form-group">
                      <h3>Data de Nascimento:</br></h3>
                      <h4> {{ user.data }} </h4>
                    </div>

                    <div class="form-group">
                      <h3>CPF:</br></h3>
                      <h4> {{ user.cpf }} </h4>
                    </div>

                    <div class="form-group">
                      <h3>RG:</br></h3>
                      <h4> {{ user.rg }} </h4>
                    </div>

                    <input class="btn btn-default" value="Editar Perfil">
                   </form>
                </fieldset>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>

{% endblock %}