{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:base' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}
{% block content %}

<div id = "fundo">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
              <div class="panel-heading" style="text-align:center">
                <h1>Recuperação de senha</h1>
            </div>
            <div class="panel-body">
            <div class = "ajuste">
          <br>
          <h4>Sua senha foi alterada com sucesso!  Você já pode acessar sua conta</h4></br>
          <a class="btn btn-lg btn-success" href="{{ login_url }}">{% trans 'Entrar' %}</a>          
          </div>
        </div>
        </div>
      
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

