{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:base' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}
{% block content %}

<div id = "fundo">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-default">
          
          
            <div class="panel-heading">
            <h6 class="loggedOut">Recuperação de senha</h6>
          </div>

          <div class="panel-body">

			<h3>Esqueceu sua senha? Entre com seu e-mail abaixo:</h3>

         	<form action="" method="post">
         	{% csrf_token %}
      			<h3><label for="email"/> Endereco de email:</label><h3>
      			<label for="email"> {{ form.email }} </label>
      			<p><font color="red">{{ form.non_field_errors }}</font></p>
      			
      			<input class="btn btn-lg btn-success" 
      			type="submit" value="Recuperar" 
      			style="margin-top:2%;margin-left:20%;margin-bottom:-2%;width:60%" />
    			</form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

