{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:base' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}
{% block content %}

<div id = "fundo">
  <div class="container">
    <div class="row vertical-offset-100" style="margin-top:10%;">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
              <div class="panel-heading" style="text-align:center">
                <h1>Recuperação de senha</h1>
          </div>

          <div class="panel-body">
            <div class = "ajuste">
			       <h4 style ="color:#f25f5c;margin-bottom:5%"></br><b>Enviamos um email para você fazer a recuperação da sua senha!</b></h4>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}