{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:base' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}
{% block content %}

<div id = "fundo">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-7 col-md-offset-3">
        <div class="panel panel-primary">
              <div class="panel-heading" style="text-align:center">
                <h1>Recuperação de senha</h1>
            </div>

          <div class="panel-body">
            <div class = "ajuste">

			       <h3>Esqueceu sua senha? Entre com seu e-mail abaixo:</h3>
           </br>
           

         	<form action="" method="post">
         	{% csrf_token %}
      			<h4>Endereco de email:
      			 {{ form.email }}
            </h4>

      		<h4 style="margin-top:5%"><font color="#f25f5c">{{ form.non_field_errors }}</font></h4>
        </br>
         </div>

      			<input class="btn btn-lg btn-success"
      			type="submit" value="Enviar"
      			style="margin-top:2%;margin-left:30%;width:40%" />
    			</form>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
