{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:base' %}">{% trans 'Home' %}</a>
  &rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<div id = "fundo">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-5 col-md-offset-3">
        <div class="panel panel-default">
          
          <div class="panel-heading">
            <h3 class="panel-title " style="color:#4E6c24; font-family:'Calibri',serif; font-weight: none; font-size: 200%;margin-left:12%">Recuperação de senha</h3>
          </div>

          <div class="panel-body">
			       <h4>{% trans "Enviamos um email para voce fazer a recuperação da sua senha!" %}</h4>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}