{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:base' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

	<h1>{% trans 'Enter new password' %}</h1>

	<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

	<form action="" method="post">{% csrf_token %}
		{{ form.new_password1.errors }}
		<p class="aligned wide"><label for="id_new_password1">{% trans 'Nova Senha:' %}</label>{{ form.new_password1 }}</p>
		{{ form.new_password2.errors }}
		<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirmar  Senha:' %}</label>{{ form.new_password2 }}</p>
		<p><input type="submit" value="{% trans 'Alterar minha senha' %}" /></p>
	</form>
{% else %}

	<h1>{% trans "Redefinicao de senha sem sucesso!" %}</h1>

	<p>{% trans "O link para redefinicao de senha era invalido, possivelmente por ja ter sido utilizado. Por favor faca uma nova requisicao de recuperacao de senha." %}</p>
{% endif %}

{% endblock %}