{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:base' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Recuperacao de Senha' %}
</div>
{% endblock %}

{% block title %}{% trans 'Recuperacao de senha completa' %}{% endblock %}

{% block content %}

<h1>{% trans 'Recuperacao de senha completa' %}</h1>

<p>{% trans "Sua senha foi alterada.  Voce pode acessar sua conta." %}</p>

<p><a href="{{ login_url }}">{% trans 'Entrar' %}</a></p>

{% endblock %}