{% load i18n %}{% autoescape off %}
{% blocktrans %}Voce esta recebendo este email pois solicitou recuperacao de senha de sua conta no UnBAlerta.{% endblocktrans %}

{% trans "Por favor clique no link a seguir e redefina sua senha:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Seu nome de usuario, caso voce tenha esquecido:" %} {{ user.get_username }}

{% trans "Obrigado por utilizar os nossos recursos!" %}

{% blocktrans %}O time UnBAlerta agradece sua visita.{% endblocktrans %}

{% endautoescape %}