.w3-info-font {
    font-family: "Calibri Light", cursive;
    font-size: x-small;
}

.w3-field-font {
    font-family: "Calibri Light", cursive;
    font-size: smaller;
}

.w3-field-font2 {
    font-family: "Calibri Light", cursive;
    font-size: x-small;
}