.w3-info-font {
    font-family: "Times New Roman", cursive;
    font-size: smaller;
}

.w3-field-font {
    font-family: "Times New Roman", cursive;
    font-size: medium;
}

.w3-field-font2 {
    font-family: "Times New Roman", cursive;
    font-size: smaller;
}

.w3-title-font {
    font-family: "Times New Roman", cursive;
    font-size: large;
}