{% extends "base.html"%}
{% block content %}

<div id = "fundo">
<div class="container">
    <div class="row vertical-offset-100">
		<div class="col-md-10 col-md-offset-1">
        <div class="panel panel-success">
            <h1 class="painel-title" style="font-family:'Calibri', serif; font-weight: bold; font-style: oblique; font-size: 37px;"> Descrição da ocorrência (Cor segue tipo *) </h1>
        <div id="map">
        </div>
        <div class="detalhes" role="alert">
    Detalhes: As ${data}, a vitima relatou o seguinte fato:
    ${descricao}
  </div>
  <div class="relato" role="alert">
    Relato da vitima: ${relato}
  </div>
  
  <h5> Imagem (Cor segue tipo *)</h5>

  <div class="imagem" >
    <img src="" alt="Registro do momento">
  </div>
    </div>
	</div>
  </div>
</div>

{% endblock %}
