{% extends "base.html"%}
{% block content %}

<div id = "fundo">
<div class="container">
    <div class="row vertical-offset-100">
		<div class="col-md-10 col-md-offset-1">
        <div class="panel panel-success">
		  <div class="panel-heading">
            <h6> Descrição da ocorrência</h6>
		  </div>
        
  <div class="detalhes" role="alert"></div>

  <div class="relato" role="alert">
    <p><b>Relato da vitima: </b> {{object.descricao|default_if_none:"Não foi relatado nada"}} </p>
  </div>
 
  <div class="relato" role="alert">
    <p><b>Resposta do Vigilante: </b> {{object.resposta|default_if_none:"Não foi relatado nada"}} </p>
  </div>

  {% if object.foto %}
    <h6 class="painel-title" style="font-size: 110%;"> Imagem </h6>
    <div class="imagem" >
      <img src="{{object.foto.url}}" height="400px" width="500px">
    </div>
  {% endif %}
  </div>
</div>
</div>
</div>

{% endblock %}
