{% extends "base.html"%}
{% block content %}
    <style>
      #map {
        width: 525px;
        height: 400px;
      }
    </style>
  <div id = "fundo">
    <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Cadastro</h3>
        </div>

          <div class="panel-body">
            <form action="demo_form.asp" accept-charset="UTF-8" role="form">
                    <fieldset>
			 <div id="map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: -15.763606, lng: -47.869636},
          zoom: 15
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
              <div class="form-group">
                <p>Tipo:</p>
                <input type="radio" name="gender" value="1"> movimentacao estranha<br>
                <input type="radio" name="gender" value="2"> assalto a mao armada<br>
                <input type="radio" name="gender" value="3"> agressao fisica<br>
                <input type="radio" name="gender" value="4"> depredacao do patrimonio publico<br>
              </div>
              <div class="form-group">
                <p>Emergencia?</p>
                <input type="radio" name="gender" value="1"> sim<br>
                <input type="radio" name="gender" value="0"> nao<br>
              </div>
              <div class="form-group">
               <input type="txt" name="descricao" class="form-control" placeholder="descricao" value="${ocorrencia.descricao}"/>
              </div>
              <div class="form-group">
               <input type="datetime-local" name="bday"  class="form-control" value="${ocorrencia.data}"/>
              </div>
              <div class="form-group">
			   <p>imagem:</p>
               <input type="file" name="imagem"/>
              </div>
           		
               <div class="col-md-offset-2">
              	<input class="btn btn-danger" type="submit" value="Deletar Ocorrência">                                 
              	<input class="btn btn-primary" type="submit" value="Salvar Alterações">
              	</div>
            </fieldset>
              </form>
          </div>
      </div>
    </div>
  </div>
<div>
{% endblock %}

