{% extends "base_usuario.html"%}
{% block content %}

<div id = "fundo">
<div class="container">
    <div class="row vertical-offset-100">
      
        	<div class="panel panel-success">
        		<div class="panel-heading">Minhas ocorrências</div>
	        		<table class="table">
						<tr>
							<th>Número</th>
							<th>Local</th>
							<th>Data</th>
							<th>Imagem</th>
							<th>Descrição</th>
							<th>Editar</th>
						</tr>
            {% for o in object_list %}
							<tr>
								<td>{{o.id}}</td>
								<td>{{o.local}}</td>
								<td>{{o.data}}</td>
								<td>{{o.imagem}}</td>
						{% endfor %}
								<td><a class="btn btn-primary" href="./descricao_ocorrencia.html?idocorrencia=${ocorrencia.id}" role="button">Ver Descrição</a></td>
								<td><a class="btn btn-success" href="./editar_ocorrencia.html?idocorrencia=${ocorrencia.id}" role="button">Editar ocorrência</a></td>
							</tr>
						</c:forEach>
					</table>
			   </div>
          </div>
   	        </div> 
       </div>
      </div>
    </div>
  </div>
</div>
<div>
 {% endblock %} 