{% extends "base.html"%}
{% block content %}

<div id = "fundo">
<div class="container">
    <div class="row vertical-offset-100">
      
        	<div class="panel panel-success">
        		<div class="panel-heading">Minhas ocorrências</div>
	        		<table class="table">
						<tr>
							<th>Número</th>
							<th>Localização</th>
							<th>Data e Hora</th>
							<th>Imagem</th>
							<th>Emergência?</th>
							<th>Descrição</th>
							<th>Editar</th>
						</tr>
            {% for o in object_list %}
				<tr>
					<td>{{o.id}}</td>
					<td><a href="http://maps.google.com/?q={{o.latitude}},{{o.longitude}}"> Clique para ver no mapa </a></td>
					<td>{{o.data}} - {{o.hora.hour}}:{{o.hora.minute}}</td>
					<td><a href="#"> Clique para abrir a imagem </a></td>
					{% if o.emergencia == 1 %}
						<td> Sim</td>
					{% else %}
						<td> Não </td>
					{% endif %}
                	<td><a class="btn btn-primary" href="{%  url 'ver_ocorrencia' o.id %}"  role="button">Ver Descrição</a></td>
                	<td><a class="btn btn-success" href="#" role="button">Editar ocorrência</a></td>
			{% endfor %}
			    </tr>
					</table>
			   </div>
          </div>
   	        </div> 
       </div>
      </div>
    </div>
  </div>
</div>
<div>
 {% endblock %} 