@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
@font-face {
font-family: LeagueSpartanBold;
src: url("/static/LeagueSpartan-Bold.otf") format("opentype");
}

label {
  color:white
}
.panel{
	border:0;
}
.navbar{
  margin-bottom: 0;
  font-size: 17px;
	background-color: #247ba0 !important;
}

.navfilter{
	background-color: #FFFFFF !important;
	margin-top: 30px;
  margin-bottom: 15px;
}

.navbar a{
  font-weight: bolder;
}
.navbar a:hover{
	color: #70c1b3 !important;
}
table td{
  text-align: center;
  vertical-align: middle !important;
}
.control-label{
  color: #555;
}
.panel-heading{
  background-color: #50514f;
}
legend{
  font-size: 30px;
  font-weight: bolder;
}
.alert{
  margin-bottom: 0;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#imagemOcorrencia {
  width: auto;
  height: 100%;
}

.modal-content {
    display: block;
    margin: auto;
    width: 80%;
    height: 90%
}

.close {
    position: relative;
    top: -22px !important ;
    color: #ff0000;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.nav li {
  display: inline;
}

#fundo{
    background: url("images/back.png");
  	background-color: #444;
    background: url("images/pinlayer2.png"),url("images/back.png");
    margin-top: -5%;
    min-height: 800px;
}

.vertical-offset-100{
    padding-top:90px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}

.mg-btm{
  margin-bottom:20px;
}
.jumbotron {
  background: url("images/back.png");
  background-color: #444;
  background: url("images/pinlayer2.png"),url("images/back.png");
  height: 30%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:50px;
}

.jumbotron h1 {
  color: yellow;
  font-size: 63px;
  font-family: 'Calibri';
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #1c2c48;
}

form p label{
  color: #393c3d;
  font-family: 'Calibri';
  margin-left: 10%;
  margin-right: 5%;
}
.concluido{
  color: #1c2c48;
  font-size: 100%;
  font-family: 'Calibri',serif;
  text-align: center;
}
.concluido a{
  text-decoration:none;
  color: #26953b;
  font-size: 150%;
}
.senha a{
  text-decoration:none;
  color: #1c2c48;
}
.list-group-item{
  text-align: center;

}

#descricao{
  width: 30%;
  height: 50%;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 3%;
}

#map{
  width: 30%;
  height: 50%;
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 3%;
}

#cadastro{
    background:#efefef;
    height:500px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#cadastro h3 h5{
    margin-top: 30px;
    color: #393c3d;
    font-size: 24px;
    font-family:'Shift', sans-serif;
}
#cadastro td{
    outline: none;
    font-size:15px;
    font-family: "Calibri", serif;
    height: 40px;
}

.form-group {
	font-family: 'Shift', sans-serif;
	font-size: 15px;


}

.form-group h3{
  font-size: 100%;
  font-family: "Calibri", serif;
}


.detalhes{
  	margin-right:5%;
  	margin-left:5%;
	font-family:'Shift', sans-serif;
	font-size: 110%;

    padding: 15px;
    margin-bottom: 20px;
	margin-left:10px;
	margin-right:10px;
    border: 1px solid transparent;
    border-radius: 4px;
}



.relato{
	font-family: 'Shift', sans-serif;
	margin-left:10px;
	margin-right:10px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 110%;
}

.botao{
  cursor: pointer;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: white;
  background-color: #1c2c48;
  border-color: #1c2c48;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  margin-left: 38%;
  margin-top: 3%;
  margin-bottom: 1%;
}

.btn1-sucesso:hover, .btn1-sucesso:focus, .btn1-sucesso:active, .btn1-sucesso.active, .open .dropdown-toggle.btn-sucesso {
    color: #fff;
    background-color: #2d4d84;
    border-color: #2d4d84;
}
.btn1:hover, .btn1:focus {
    color: #333;
    text-decoration: none;
}
.btn1:focus, .btn1:active:focus, .btn1.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.imagem{
  text-align: center;
}

.icone{
  margin-right: 90%;

}

#txt{
  height: 35px;
  width: 250px;
  border:none;
  border-radius: 5px;
  padding: 4px;
}
#button{
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  background-color: #efefef;
  border-radius: 4px;
  border: 1px solid #CCC;
}
#centro{
  position: relative;
  height: 100px;
  margin: 0 auto;
  padding: 5px;
  border: none;
  margin-top: 30px;
}
#cadastro th{
  outline: none;
  font-size:15px;
  font-family: "Calibri", serif;
  height: 40px;
}

.dicas {
  text-align: center;
}

.dicas h5 {

}

.sobre{

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.inicial
{
	margin-left: 10%;
}

.block
{
	margin-right: 10%;
	min-width: 330px;
	max-width: 60%;
	display: inline-block;
	vertical-align: top;
}

h1
{	font-family: "LeagueSpartanBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 7rem;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  position: relative;
	font-weight: bold;
	-webkit-margin-end: 0px;
}
.panel-heading h1{
  font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 3em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: bold;
  -webkit-margin-end: 0px;
}
h2
{
	margin: 0;
	text-align: left;
	font-family: 'VarelaRound', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.85rem;
	color: #727272;
	line-height: 1.75em;
}
.navfilter .container-fluid{
    padding-bottom: 15px;
}
.ajuste{
  text-align: center;
  text-decoration: none;
}