#titulo{
  margin:auto;
  height:50px;
  width:120px;
  border-radius: 5px;
  text-align:center;
  text-transform: uppercase;
  border: 2px solid #4E6c24;
  background-color: #95c551;
  position:relative;
  top: 35px;
}
space a{
  text-decoration:none;
  color: black;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  position: relative;
  top: 10px;
}


.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}
#fundo{
    background: url("images/back.png");
  background-color: #444;
    background: url("images/pinlayer2.png"),url("images/back.png");    
}

.vertical-offset-100{
    padding-top:100px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}

.mg-btm{
  margin-bottom:20px;
}
.jumbotron {
      background: url("images/back.png");
  background-color: #444;
    background: url("images/pinlayer2.png"),url("images/back.png"); 
  height: 05%;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:50px;
}

.jumbotron h1 {
  color: yellow;
  font-size: 63px;  
  font-family: 'Calibri';
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #1c2c48;
}
#cadastro{
    background:#efefef;
    height:500px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#cadastro h3 h5{
    margin-top: 30px;
    color: #393c3d;
    font-size: 24px;
    font-family:'Shift', sans-serif;
}
#cadastro td{
    outline: none;
    font-size:15px;
    font-family: "Calibri", serif;
    height: 40px;
}
#txt{
  height: 35px;
  width: 250px;
  border:none;
  border-radius: 5px;
  padding: 4px;
}
#button{
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  background-color: #efefef;
  border-radius: 4px;
  border: 1px solid #CCC;
}
#centro{
  position: relative;
  height: 100px;
  margin: 0 auto;
  padding: 5px;
  border: none;
  margin-top: 30px;
}
#cadastro th{
    outline: none;
    font-size:15px;
    font-family: "Calibri", serif;
    height: 40px;
    
}
