@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
@font-face {
font-family: LeagueSpartanBold;
src: url("/static/LeagueSpartan-Bold.otf") format("opentype");
}

body{
  margin-bottom: -2%;
}

label {
  color:white
}
.panel{
	border:0;
}
.navbar{
  margin-bottom: 0;
  font-size: 17px;
	background-color: #247ba0 !important;
}

.navfilter{
	background-color: #FFFFFF !important;
	margin-top: 30px;
  margin-bottom: 15px;
}

.navbar a{
  font-weight: bolder;
}
.navbar a:hover{
	color: #70c1b3 !important;
}
table td{
  text-align: center;
  vertical-align: middle !important;
}
.control-label{
  color: #555;
}
.panel-heading{
  background-color: #50514f;
}
legend{
  font-size: 30px;
  font-weight: bolder;
}
.alert{
  margin-bottom: 0;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#imagemOcorrencia {
  width: auto;
  height: 100%;
}

.modal-content {
    display: block;
    margin: auto;
    width: 80%;
    height: 90%
}

.close {
    position: relative;
    top: -22px !important ;
    color: #ff0000;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.nav li {
  display: inline;
}

#myTabContent,
#vitima,
#vigilante,
#foto{
  min-height: 7vh;
  margin: 2% 2%
}

#gra {
  text-align: center;
}

#fundo{
    background: url("images/back.png");
  	background-color: #444;
    background: url("images/pinlayer2.png"),url("images/back.png");
    margin-top: -5%;
    min-height: 100vh;
}

#add0,
#add1{
  margin-top: 2%;
  width: 8%;
  height: 8%;
}
.vertical-offset-100{
    padding-top:90px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:0px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}

.mg-btm{
  margin-bottom:20px;
}
.jumbotron {
  background: url("images/back.png");
  background-color: #444;
  background: url("images/pinlayer2.png"),url("images/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.jumbotron .container {
  position: relative;
  top:0px;
}

.jumbotron h1 {
  color: yellow;
  font-size: 63px;
  font-family: 'Calibri';
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #1c2c48;
}

form p label{
  color: #393c3d;
  font-family: 'Calibri';
  margin-left: 10%;
  margin-right: 5%;
}
.concluido{
  color: #1c2c48;
  font-size: 100%;
  font-family: 'Calibri',serif;
  text-align: center;
}
.concluido a{
  text-decoration:none;
  color: #26953b;
  font-size: 150%;
}
.senha a{
  text-decoration:none;
  color: #1c2c48;
}
.list-group-item{
  text-align: center;

}

#descricao{
  width: 30%;
  height: 50%;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 3%;
}

#map{
  width: 30%;
  height: 50%;
  margin-top: 3%;
  margin-left: 10%;
  margin-bottom: 3%;
}

#cadastro{
    background:#efefef;
    height:500px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#cadastro h3 h5{
    margin-top: 30px;
    color: #393c3d;
    font-size: 24px;
    font-family:'Shift', sans-serif;
}
#cadastro td{
    outline: none;
    font-size:15px;
    font-family: "Calibri", serif;
    height: 40px;
}

.form-group {
	font-family: 'Shift', sans-serif;
	font-size: 15px;


}

.form-group h3{
  font-size: 100%;
  font-family: "Calibri", serif;
}


.detalhes{
  	margin-right:5%;
  	margin-left:5%;
	font-family:'Shift', sans-serif;
	font-size: 110%;

    padding: 15px;
    margin-bottom: 20px;
	margin-left:10px;
	margin-right:10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.relato{
	font-family: 'Shift', sans-serif;
	margin-left:10px;
	margin-right:10px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 110%;
}

.botao{
  cursor: pointer;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: white;
  background-color: #1c2c48;
  border-color: #1c2c48;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  margin-left: 38%;
  margin-top: 3%;
  margin-bottom: 1%;
}

.btn1-sucesso:hover, .btn1-sucesso:focus, .btn1-sucesso:active, .btn1-sucesso.active, .open .dropdown-toggle.btn-sucesso {
    color: #fff;
    background-color: #2d4d84;
    border-color: #2d4d84;
}
.btn1:hover, .btn1:focus {
    color: #333;
    text-decoration: none;
}
.btn1:focus, .btn1:active:focus, .btn1.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.imagem{
  text-align: center;
}

.icone{
  margin-right: 90%;

}

#txt{
  height: 35px;
  width: 250px;
  border:none;
  border-radius: 5px;
  padding: 4px;
}
#button{
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  background-color: #efefef;
  border-radius: 4px;
  border: 1px solid #CCC;
}
#centro{
  position: relative;
  height: 100px;
  margin: 0 auto;
  padding: 5px;
  border: none;
  margin-top: 30px;
}
#cadastro th{
  outline: none;
  font-size:15px;
  font-family: "Calibri", serif;
  height: 40px;
}

.dicas {
  text-align: center;
}

.dicas h5 {

}

.sobre{

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.inicial
{
	margin-left: 10%;
  margin-bottom:2%;
}

.block
{
	margin-right: 10%;
	min-width: 330px;
	max-width: 60%;
	display: inline-block;
	vertical-align: top;
}

h1
{	font-family: "LeagueSpartanBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 7rem;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  position: relative;
	font-weight: bold;
	-webkit-margin-end: 0px;
}
.panel-heading h1{
  font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 3em;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: bold;
  -webkit-margin-end: 0px;
}
h2
{
	margin: 0;
	text-align: left;
	font-family: 'VarelaRound', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.85rem;
	color: #727272;
	line-height: 1.75em;
}
.navfilter .container-fluid{
    padding-bottom: 15px;
}
.ajuste{
  text-align: center;
  text-decoration: none;
}

.footer-rodape{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 5% 5%;
  margin-bottom: 0%;
}

.footer-rodape .footer-direita{
  margin-top: -6%;
  margin-left: -5%;
}
.footer-rodape .footer-esquerda{
  width: 40%;
  margin-top: -4%
}

.footer-rodape h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-rodape h3 span{
  color:  #5383d3;
}

.footer-rodape .footer-links{
  color:  #ffffff;
  margin: 2% 0 2%;
  padding: 0;
}

.footer-rodape .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-rodape .footer-unbalerta{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-rodape .footer-direita i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 3%;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
}

.footer-rodape .footer-direita i.fa-map-marker{
  margin-left: 25%;
}

.footer-rodape .footer-direita i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
  margin-left: 5%
}

.footer-rodape .footer-direita i.fa-phone{
  margin-left: 5%;
}

.footer-rodape .footer-direita p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin-left: 1%;
}

.footer-rodape .footer-direita p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-rodape .footer-direita p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* VERSAO MOBILE */

#mobile{
  display:none;
}

.hamb-xlarge {
    font-size: 100%!important;
    width:5%;
    height:5%;
    margin-top: 0.5%;
    margin-left:0.5%;
}

.hamb-opennav, .hamb-closenav {
    color: inherit;
}

.hamb-btn, .hamb-btn-floating, .hamb-btn-floating-large, .hamb-closenav, .hamb-opennav {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamb-dark-grey, .hamb-hover-dark-grey:hover {
    color: #fff!important;
    background-color: #2f2f2f!important;
}

.hamb-sidenav {
    height: 100%;
    width: 25%;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
}

.hamb-sidenav a, .hamb-dropnav a {
    display: block;
}

.hamb-sidenav a {
    padding: 2% 1% 2% 10%;
}

a {
    color: inherit;
    background-color: transparent;
}

.hamb-btn, .hamb-btn-floating, .hamb-dropnav a, .hamb-btn-floating-large, .hamb-btn-block, .hamb-hover-shadow, .hamb-hover-opacity, .hamb-navbar a, .hamb-sidenav a, .hamb-pagination li a, .hamb-hoverable tbody tr, .hamb-hoverable li, .hamb-accordion-content a, .hamb-dropdown-content a, .hamb-dropdown-click:hover, .hamb-dropdown-hover:hover, .hamb-opennav, .hamb-closenav, .hamb-closebtn, .hamb-hover-amber, .hamb-hover-aqua, .hamb-hover-blue, .hamb-hover-light-blue, .hamb-hover-brown, .hamb-hover-cyan, .hamb-hover-blue-grey, .hamb-hover-green, .hamb-hover-light-green, .hamb-hover-indigo, .hamb-hover-khaki, .hamb-hover-lime, .hamb-hover-orange, .hamb-hover-deep-orange, .hamb-hover-pink, .hamb-hover-purple, .hamb-hover-deep-purple, .hamb-hover-red, .hamb-hover-sand, .hamb-hover-teal, .hamb-hover-yellow, .hamb-hover-white, .hamb-hover-black, .hamb-hover-grey, .hamb-hover-light-grey, .hamb-hover-dark-grey, .hamb-hover-text-amber, .hamb-hover-text-aqua, .hamb-hover-text-blue, .hamb-hover-text-light-blue, .hamb-hover-text-brown, .hamb-hover-text-cyan, .hamb-hover-text-blue-grey, .hamb-hover-text-green, .hamb-hover-text-light-green, .hamb-hover-text-indigo, .hamb-hover-text-khaki, .hamb-hover-text-lime, .hamb-hover-text-orange, .hamb-hover-text-deep-orange, .hamb-hover-text-pink, .hamb-hover-text-purple, .hamb-hover-text-deep-purple, .hamb-hover-text-red, .hamb-hover-text-sand, .hamb-hover-text-teal, .hamb-hover-text-yellow, .hamb-hover-text-white, .hamb-hover-text-black, .hamb-hover-text-grey, .hamb-hover-text-light-grey, .hamb-hover-text-dark-grey {
    -webkit-transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
    transition: background-color .3s,color .15s,box-shadow .3s,opacity 0.3s;
}

.hamb-navbar a, .hamb-topnav a, .hamb-sidenav a, .hamb-dropdown-content a, .hamb-accordion-content a, .hamb-dropnav a {
    text-decoration: none!important;
    font-size: 120%;
}

.hamb-large {
    font-size: 150%!important;
}

.hamb-animate-left {
    position: relative;
    -webkit-animation: animateleft 0.4s;
    animation: animateleft 0.4s;
}

.hamb-cor, .hamb-hover-cor:hover {
    color: #fff!important;
    background-color: #247ba0!important;
}

.hamb-accordion {
    width: 100%;
    cursor: pointer;
}

.hamb-white, .hamb-hover-white:hover {
    color: #000!important;
    background-color: #e4e4e4!important;
}

.hamb-show-block, .hamb-show {
    display: block!important;
}

.hamb-accordion-content {
    cursor: auto;
    display: none;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 1080px){

.container{ 
    width: 95%;
}

#add0,#add1{
  width: 5%;
  height: 5%;
  margin-top:-30%; 
  margin-left: 55%;
}

#placa{
  max-width: 50%;
  margin-bottom: -3.5%;
}

}