#titulo{
  margin:auto;
  height:50px;
  width:120px;
  border-radius: 5px;
  text-align:center;
  text-transform: uppercase;
  border: 2px solid #4E6c24;
  background-color: #95c551;
  position:relative;
  top: 35px;
}
space a{
  text-decoration:none;
  color: black;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  position: relative;
  top: 10px;
}


.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}
#fundo{
    background: url(http://mymaplist.com/img/parallax/back.png);
  background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);    
}

.vertical-offset-100{
    padding-top:100px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}

.mg-btm{
  margin-bottom:20px;
}
.jumbotron {
      background: url(http://mymaplist.com/img/parallax/back.png);
  background-color: #444;
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png),url(http://mymaplist.com/img/parallax/back.png);  
  height: 210px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: yellow;
  font-size: 40px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #1c2c48;
}