{% load staticfiles %}

<!DOCTYPE html>
<html>

  <head>
    <meta http-equive ="Content-Type" content ="text/html, charset-utf-8">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" >
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    
  </head>

  <body>
    <div id="titulo">
      <space>
        <a href="#">UNB ALERTA</a><br>
      </space>
    </div>

    <!-- Nao consegui botar o bootstrap -->
    <ul class="nav nav-pills">
      <div class="container">
        <ul class= "pull-right">
          <li role="presentation" ><a href="nova_ocorrencia.html">fazer ocorrencia</a></li>
          <li role="presentation" ><a href="ocorrencias">minhas ocorrencias</a></li>
          <li role="presentation" ><a href="alter_usu.php"> perfil</a></li>
          <li role="presentation" ><a href="#">Cadastrar</a></li>
          <li role="presentation" ><a href="#">Entrar</a></li>
          <li role="presentation" ><a href="inicial.html">sair</a></li>
        </ul>
        <ul class="pull-left">
          <li role="presentation" ><a href="#">ver mapa</a></li>
        </ul>
      </div>
    </ul>
  {% block content %}
  {% endblock %}
  </body>
</html>
