{% load staticfiles %}

{% block header%}

<!DOCTYPE html>
<html>

  <head>
    <title>UnB Alerta</title>
    <meta http-equive ="Content-Type" content ="text/html, charset-utf-8">
    <link rel="icon" href="{% static 'images/índice.jpeg' %}" type="image/png" >
  <link rel="stylesheet" type="text/css" href="{% static 'bootswatch.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/mascaras.js' %}"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
</head>

<script type="text/javascript">

function hamb_open() {
    document.getElementById("mySidenav").style.display = "block";
}

function hamb_close() {
    document.getElementById("mySidenav").style.display = "none";
}

function hamb_drop() {
    var x = document.getElementById("hambDrop");
    if (x.className.indexOf("hamb-show") == -1) {
        x.className += " hamb-show";
        x.previousElementSibling.className += " hamb-cor";
    } else {
        x.className = x.className.replace(" hamb-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" hamb-cor", "");
    }
}

function hamb_drop2() {
    var x = document.getElementById("hambDrop2");
    if (x.className.indexOf("hamb-show") == -1) {
        x.className += " hamb-show";
        x.previousElementSibling.className += " hamb-cor";
    } else {
        x.className = x.className.replace(" hamb-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" hamb-cor", "");
    }
}

function hamb_drop3() {
    var x = document.getElementById("hambDrop3");
    if (x.className.indexOf("hamb-show") == -1) {
        x.className += " hamb-show";
        x.previousElementSibling.className += " hamb-cor";
    } else {
        x.className = x.className.replace(" hamb-show", "");
        x.previousElementSibling.className =
        x.previousElementSibling.className.replace(" hamb-cor", "");
    }
}

$(document).ready(function(){
  
  if (screen.width <= 1080) {
    $('#desktop').hide(-999);
    $('#mobile').fadeIn(-999);
  }
    
});

</script>

{%endblock%}

{%block body%}

  <body>

    <!-- VERSAO DESKTOP !-->

    <nav class="navbar navbar-default" id="desktop">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'inicio' %}">UnB Alerta</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
              <li class="dropdown">
                <a href="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                Estatísticas <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{% url 'estatisticas' %}">Mapa</a></li>
                  <li class="divider"></li>
                  {% if perms.ocorrencia.change_ocorrencia %}
                    <li><a href="{% url 'gerar_relatorio' %}">Relatórios</a></li>
                    <li><a href="{% url 'gerar_grafico' %}">Gráficos</a></li>
                {% endif %}
                </ul>
              </li>

              {% if perms.ocorrencia.change_ocorrencia %}
                <li role="presentation" ><a href="{% url 'lista_validacao' %}">Validar Ocorrência</a></li>
                <li role="presentation" ><a href="{% url 'pesquisar_placas' %}">Procurar Placa</a></li>
              {% endif %}
              <li><a href="{% url 'criar_ocorrencia' %}">Fazer Ocorrência</a></li>
              <li class="dropdown">
                <a href="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Ocorrências <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                {% if perms.ocorrencia.change_ocorrencia %}
                  <li><a href="{% url 'lista_ocorrencias' %}">Todas ocorrências</a></li>
                {% endif %}
                  <li class="divider"></li>
                  <li><a href="{% url 'minhas_ocorrencias' %}"> Minhas ocorrências</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="position:relative; right:5%;">

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"             aria-expanded="false" style=" margin-right=50px;"> {{ user.username }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'perfil' %}">Perfil</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="{% url 'logout' %}">Sair</a></li>
                </ul>
              </li>

            </ul>
          {% else %}
            <ul class="nav navbar-nav">
              <li><a href="{% url 'cadastrar_usuario' %}">Cadastre-se</a></li>
              <li><a href="{% url 'login' %}">Entrar</a></li>
            </ul>
          {% endif %}
            <ul class="nav navbar-nav navbar-right" style="position:relative; right:4%;">
              <li><a href="{% url 'sobre' %}"> Sobre</a></li>
            </ul>
        </div>
      </div>
    </nav>

    <!-- VERSAO MOBILE !-->

    <nav class="hamb-sidenav hamb-dark-grey hamb-animate-left" style="display:none" id="mySidenav">
      <a href="javascript:void(0)" onclick="hamb_close()"
      class="hamb-closenav hamb-large">Fechar &times;</a>
      
      {% if user.is_authenticated %}
        <div class="hamb-accordion">
          <a onclick="hamb_drop()" href="#"> Estatísticas <i class="fa fa-caret-down"></i></a>
          <div id="hambDrop" class="hamb-accordion-content hamb-white hamb-card-4">
            
            <a href="{% url 'estatisticas' %}">Mapa</a>
            {% if perms.ocorrencia.change_ocorrencia %}
              <a href="{% url 'gerar_relatorio' %}">Relatórios</a>
              <a href="{% url 'gerar_grafico' %}">Gráficos</a>
            {% endif %}

          </div>
        </div>

        {% if perms.ocorrencia.change_ocorrencia %}
          <a href="{% url 'lista_validacao' %}">Validar Ocorrência</a>
          <a href="{% url 'pesquisar_placas' %}">Procurar Placa</a>
        {% endif %}
        
        <a href="{% url 'criar_ocorrencia' %}">Fazer Ocorrência</a>

        <div class="hamb-accordion">
          <a onclick="hamb_drop2()" href="#"> Ocorrências <i class="fa fa-caret-down"></i></a>
          <div id="hambDrop2" class="hamb-accordion-content hamb-white hamb-card-4">
            
            {% if perms.ocorrencia.change_ocorrencia %}
              <a href="{% url 'lista_ocorrencias' %}">Todas ocorrências</a>
            {% endif %}
            <a href="{% url 'minhas_ocorrencias' %}">Minhas ocorrências</a>
            
          </div>
        </div>

        <a href="{% url 'sobre' %}">Sobre</a>


        <div class="hamb-accordion">
          <a onclick="hamb_drop3()" href="#"> {{ user.username }} <i class="fa fa-caret-down"></i></a>
          <div id="hambDrop3" class="hamb-accordion-content hamb-white hamb-card-4">

            <a href="{% url 'perfil' %}">Perfil</a>
            <a href="{% url 'logout' %}">Sair</a>

          </div>
        </div>

      {% else %}

        <a href="{% url 'cadastrar_usuario' %}">Cadastre-se</a>
        <a href="{% url 'login' %}">Entrar</a>
        <a href="{% url 'sobre' %}">Sobre</a>

      {% endif %}
      
    </nav>

    <nav class="navbar navbar-default" id="mobile">
      <div class="hamb-container">
        <input type="image" src="{% static 'images/hamb.png' %}" class="hamb-opennav hamb-xlarge" onClick="hamb_open()"/>
      </div>
      <a class="navbar-brand nav-right" href="{% url 'inicio' %}">UnB Alerta</a>
    </nav>

{% endblock %}

{% block content %}
{% endblock %}

{%block footer%}

    <footer class="footer-rodape">

      <div class="footer-esquerda">

        <h3>UnB<span>Alerta</span></h3>

        <p class="footer-links">
          <a href="{% url 'inicio' %}">Inicio</a>
          ·
          <a href="{% url 'sobre' %}">Sobre</a>
          ·
          <a href="#">Contato</a>
        </p>

        <p class="footer-unbalerta">Equipe Unb Alerta &copy; 2016</p>
      </div>

      <div class="footer-direita">

        <i class="fa fa-map-marker"></i>
        <p><span>Universidade de Brasilia</span> Brasilia, DF</p>
      
        <i class="fa fa-phone"></i>
        <p>(61) 3107-6222</p>
      
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:unbalerta@gmail.com">unbalerta@gmail.com</a></p>
        
      </div>

    </footer>

{%endblock%}

  </body>
</html>
