{% load staticfiles %}

<!DOCTYPE html>
<html>

  <head>
    <meta http-equive ="Content-Type" content ="text/html, charset-utf-8">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" >
    
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    
  </head>

  <body>
    <div class="container">
      <ul class="pull-left">
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">UNB ALERTA</a></li>
          <li role="presentation" ><a href="#">ver mapa</a></li>
        </ul>
      </ul>
      <ul class= "pull-right">
        <ul class="nav nav-pills">
            <li role="presentation" ><a href="{% url 'criar_ocorrencia' %}">fazer ocorrencia</a></li>
            <li role="presentation" ><a href="{% url 'lista_ocorrencias' %}">Todas Ocorrências</a></li>
            <li role="presentation" ><a href="#">Perfil</a></li>
            <li role="presentation" ><a href="{% url 'inicio' %}">Sair</a></li>
            <li role="presentation" ><a href="#">Cadastrar</a></li>
            <li role="presentation" ><a href="#">Entrar</a></li>
        </ul>
      </ul>
    </div>
  {% block content %}
  {% endblock %}
  </body>
</html>



    <!--
    <div id="titulo">
      <space>
        <a href="#">UNB ALERTA</a><br>
      </space>
    </div>
    -->
