{% extends "base.html"%}
{% block content %}
    <div class="jumbotron">
    	<h1>UNB ALERTA</h1>
    </div> 
	<div class="dicas">
		<h3><i>Dicas de Seguranca</i></h3>
		<ul class="list-group">
		  <li class="list-group-item">Evite deixar seus pertences a vista em seus carros. Ladroes, ao perceber que tem algo de valor, poderao acabar por arromba-lo</li>
		  <li class="list-group-item">Estacione o mais perto possivel da concentracao dos carros, ao seu carro ficar isolado a chance de atrair bandidos e maior</li>
		  <li class="list-group-item">Se for subir para L2, va com um grupo de amigos. Alem de ser melhor para sua vida social (seu nerd desgracado), os bandidos n gostam de batalhas no estilo 5 contra 1.</li>
		  <li class="list-group-item">Tome cuidade ao andar pela UnB nos sabados e domingo, por nao ter barragens nossos amigos bandidos e mendigos (RIMOU!) vem dar uma passada por aqui.</li>
		  <li class="list-group-item">Nao use dorgas! PROERD!!!!!!!!!!!!!!!!</li>
		</ul>
	</div>	    
      
{% endblock %}
