{% extends "base.html"%}
{% block content %}
    <div class="jumbotron">
    	<h1>UNB ALERTA</h1>
    </div> 
	<div class="dicas">
		<h3 style = "text-align: left; text-indent: 35%; font-size:110%;"><i>Dicas de Seguranca:</i></h3>
		<ul class="list-group">
		  <li class="list-group-item">Evite deixar seus pertences a vista em seus carros. Ladroes, ao perceber que tem algo de valor, poderao acabar por arromba-lo</li>
		  <li class="list-group-item">Estacione o mais perto possivel da concentracao dos carros, ao seu carro ficar isolado a chance de atrair pessoas com más intenções é maior</li>
		  <li class="list-group-item">Se for subir para L2, va com um grupo de amigos. Assaltantes costumam abordar pessoas sozinhas.</li>
		  <li class="list-group-item">Tome cuidade ao andar na UNB durante os fins de semana, é quando a UNB está mais vazia</li>
		</ul>
	</div>	    
      
{% endblock %}
