{% extends "base.html"%}
{% load static from staticfiles %}
{% block content %}
<center>
<div class="inicial">
	<div class="block">
		<br><h1>Colabore com a <br>sua segurança.</br>
      Permita-nos te<br> ajudar.</h1>
		<h2> O projeto UnB Alerta tem como objetivo facilitar a comunicação entre</br>
		os estudantes da Universidade de Brasília e a viligância da Universidade.</h2>
	</div>
	<div class="block">
		<img height=450px src="{% static 'images/securityguard.jpg' %}" />
	</div>
	<div class="block">
		<br><h1><center>Faça o download do aplicativo</center></h1>
		<h2><center><b>Para realizar o download</b> você deve acessar o site www.google.com.br e
		pesquisar pelo aplicativo na loja, blá blá blá, teste de tamanho do texto
		na página inicial. O texto aparentemente ficou em um tamanho aceitável para
		o tamanho da página.</center></h2>
	</div>
</div>
</center>
{% endblock %}