{% extends "base.html"%}
{% load staticfiles %}
{% block content %}

<style type="text/css">
  #map {
    width: 90% !important;
    height:550px !important;
    margin-left:5% !important;
    margin-top:2% !important;
    overflow: visible !important;
    border : 3px solid rgba(211,211,211,0.4);
  }
</style>

<script src="{% static 'js/mapaEstat.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=geometry" async defer></script>


<div id = "fundo">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
     
          <div class="panel-heading">
            <h6>Mapa com estatisticas:</h6>
          </div>

          <div class="panel-body">
            <div class="form-group">
              <font color="red">
                <b><div id="resultado" style="text-align:center; color:#4E6c24;"></div></b>
              <div id="map" ></div>
            </div>
          </div>

        </div>
      </div>      
    </div>
  </div>
</div>

{% endblock %}