{% extends "base.html"%}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/static/js/jquery.mask.min.js"></script>


<style type="text/css">
  #map {
    width: 90% !important;
    height:550px !important;
    margin-left:5% !important;
    margin-top:2% !important;
    overflow: visible !important;
    border : 3px solid rgba(211,211,211,0.4);
  }
</style>

<script src="{% static 'js/markerclusterer.js' %}"></script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initMap&libraries=geometry">
</script>

<script type="text/javascript">
  var map;
 // var pontos = {0:{lat:0.0, lng:0.0}};  
  var pontos = [];
  
  for (var i = 0; i < {{numero_res}}; i++) {
//    pontos[i].lat = ({{array_lat}}[i]);
  //  pontos[i].lng = ({{array_long}}[i]);
  pontos[i] = { lat: {{array_lat}}[i], lng: {{array_long}}[i]};
  };
  console.log({{numero_res}});
  /*
  console.log({{array_lat}})
  foreach(var elem in {{array_lat}}.length; i++) {
    ponto.lat = {{array_lat}}[i];
    ponto.lng = {{array_long}}[i];
    pontos.append(ponto);
  };
  console.log(pontos);*/
  function initMap() {
    
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -15.763606, lng: -47.869636},
      zoom: 17,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    
    var markers = [];
    for (i=0; i < {{numero_res}}; i++){
      var marker = new google.maps.Marker({
        position: pontos[i],
        map: map,
      });
      console.log(typeof(pontos[i]));
      console.log(typeof(marker.position));
      markers.push(marker);
    }
    
    var options = {
      imagePath: '../../static/images/m'
    };
    
    var markerCluster = new MarkerClusterer(map, markers, options);
}
</script>

<div id = "fundo">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-10 col-md-offset-1">
        
        <nav class="navfilter">
          <div class="container-fluid" >
            {% crispy filter.form %}
          </div>
        </nav>
        
        <div class="panel panel-primary">
          <div class="panel-heading" style="text-align:center">
            <h1>Mapa com estatisticas</h1>
          </div>

          <div class="panel-body">
            <div class="form-group">
            
              <b><div id="resultado" style="text-align:center; color:#4E6c24;"></div></b>
              <div id="map" ></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}