<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>
<body class="w3-relatorio-fonte">

    <header class="w3-container w3-blue">
        <h1>Relatório UnB-Alerta</h1>
    </header>
    <div>
        <div>
            <p>
                <span class="w3-field-font"><strong>Intervalo de Datas</strong></span>
                <br/>
                <span class="w3-info-font">De {{data__gte}} até {{data__lte}}</span>
            </p>
        </div>
        <div>
            <p>
                <span class="w3-field-font"><strong>Intervalo de Horas</strong></span>
                <br/>
                <span class="w3-info-font">De {{hora__gte}} até {{hora__lte}}</span>
            </p>
        </div>
    </div>
    {% if localidade %}
    <div>
        <div>
            <p>
                <span class="w3-field-font"><strong>Local: </strong></span><span class="w3-info-font">{{ localidade }}</span>
                <br/>
                <span class="w3-field-font"><strong>Posição no ranking de locais mais perigosos: </strong></span> <span class="w3-info-font">{{posicao_rank_local}}</span>
            </p>
        </div>
    </div>
    {% endif %}

    {% if categoria %}
    <div>
        <div>
            <p>
                <span class="w3-field-font"><strong>Categoria: </strong></span><span class="w3-info-font">{{ categoria }}</span>
                <br/>
                <span class="w3-field-font"><strong>Posição no ranking de categorias mais recorrentes: </strong></span> <span class="w3-info-font">{{posicao_rank_cat}}</span>
            </p>
        </div>
    </div>
    {% endif %}

    <div>
        <div class="w3-row">
            <ul class="w3-col s3 w3-ul w3-border">
                <li class="w3-field-font w3-blue"><strong>Ocorrências</strong></li>
                <li><span class="w3-field-font2"><strong>Com vítima: </strong></span> <span class="w3-info-font">{{vitima}}</span></li>
                <li><span class="w3-field-font2"><strong>Emergência: </strong></span> <span class="w3-info-font">{{emergencia}}</span></li>
                <li><span class="w3-field-font2"><strong>Validadas: </strong></span> <span class="w3-info-font">{{validadas}}</span></li>
                <li><span class="w3-field-font2"><strong>Atendidas: </strong></span> <span class="w3-info-font">{{atendidas}}</span></li>
            </ul>
        </div>

    {% if not localidade %}
        <br/>
        <div>
            <h5 class="w3-center w3-title-font">Top 5 - Locais com mais ocorrências</h5>
            <table class="w3-table-all">
                <tr class="w3-blue w3-field-font">
                    <th>Posição</th>
                    <th>Local</th>
                    <th>Nº de Ocorrências</th>
                </tr>
                {% for index, a in array_locais %}
                    <tr>
                        <td class="w3-info-font">{{ index }}</td>
                        <td class="w3-info-font">{{ a.descricao }}</td>
                        <td class="w3-info-font">{{ a.numero }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if not categoria %}
        <br/>

        <div>
            <h5 class="w3-center w3-title-font">Top 5 - Categorias com mais ocorrências</h5>
            <table class="w3-table-all">
                <tr class="w3-blue w3-field-font">
                    <th>Posição</th>
                    <th>Categoria</th>
                    <th>Nº de Ocorrências</th>
                </tr>
                {% for index, a in array_categorias %}
                    <tr>
                        <td class="w3-info-font">{{ index }}</td>
                        <td class="w3-info-font">{{ a.tipo }}</td>
                        <td class="w3-info-font">{{ a.numero }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    </div>
</body>
</html>
