{% extends "base.html"%}
{% block content %}
<div class = "sobre">
	<h4>O UnB Alerta é um projeto desenvolvido pelos alunos da disciplina Linguagens de Programação, Turma A, do semestre 1/2016. Orientados pelo professor Marcelo Ladeira, os alunos desenvolveram um sistema que tem como objetivo de contribuir com a segurança da Universidade de Brasília,
	facilitando a comunicação entre alunos e vigilntes.</h4></br>

	<h3 style="color:#247ba0"><b>Para a comunidade universitária:</b></h3></br>

	<h4>Registrar uma ocorrência no sistema é simples: Acesse a aba de "Cadastrar Ocorrência" no menu superior do site, selecione a localização do acontecimento no mapa e preencha os campos obrigatórios. Tente descrever o acontecimento com a maior quantidade de detalhes possível. Também é possível anexar fotos, além de ser possível cadastrar tanto ocorrências que exigem ação imediata quanto acontecimentos passados. Após enviar sua ocorrência, a equipe de segurança poderá entrar em contato com você e dar feedback sobre sua denúncia.</h4></br>

	<h4>A aba "Estatísticas no Mapa" mostra a localização das ocorrências dentro da UnB, e pode ajudar os usuários a evitar locais de maior risco. Também é possível visualizar as ocorrências validadas pela equipe de segurança, filtrá-las segundo parâmetros do seu interesse e listar suas ocorrências enviadas.</h4></br>

	<h3 style="color:#247ba0"><b>Para a equipe de segurança:</b></h3></br>

	<h4>Com o sistema UnB Alerta, é possível ver as ocorrências enviadas pelos usuários e respondê-las, além de gerar relatórios para acompanhar as estatísticas sobre os acontecimentos anormais na Universidade. Também é possível verificar dados dos donos de carro que registraram suas placas no sistema e buscar ocorrências por data, tipo ou local.</h4></br>


	<h4>
	Contribuir com o projeto irá ajudar a mapear acontecimentos anormais dentro da Universidade de Brasília e ajudar a equipe de segurança a garantir um ambiente acadêmico mais seguro para a comunidade universitária.</h4></br>
</div>

{% endblock %}
