{% extends "base.html"%}
{% block content %}
    <div class="jumbotron" style="margin-top: -5%;">
    	<h1>UNB ALERTA SOBRE</h1>
    </div> 
	<div>
		<p> Trabalho criado pela turma de linguagens de programação do professor Ladeira 1/2016</p>
		<p>Devido a vários relatos sobre violência acontecendo na UNB os alunos decidiram criar um sistema que permite aos usuários se comunicarem com a segurança do campus.</p>
		<p>Ao fazer o cadastro no sistema é possivel fazer uma ocorrência caso o usuário tenha presenciado, contendo data, hora, o tipo da ocorrencia e o mais importante, a descrição, um campo que permite o usuário dar detalhes adicionais sobre o ocorrido.</p>
		<p>A ocorrencia é recebida pelo vigilante que tem a opção de responder a ocorrencia, para o usuário saber que as devidas providencias foram tomadas</p>
		<p>O sistema inclui o site e um aplicativo que pode ser baixado na loja Play Store</p>
		
	</div>	    
      
{% endblock %}
